name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: '0/15 * * * *'
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2
        with:
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          app-id: ${{ vars.APP_ID }}
          owner: ${{ github.repository_owner }}
          repositories: 'ssh-agent-deploy-key'
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          docker-cmd-file: .github/renovate-entrypoint.sh
          docker-user: root
          token: '${{ steps.get_token.outputs.token }}'
        env:
          RENOVATE_PLATFORM_COMMIT: 'true'
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: '^npm '
          RENOVATE_AUTODISCOVER: 'true'
